.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    height: 100%;
}

.title-container {
    background-color: white;
    width: 100%;
    z-index: 10;
}

.abtus-title{
    font-size: 60px;
}

.about-container {
    display: flex;
    flex-direction: row;
    position: relative;
    /* left: 10%; */
    width: 650px;
    font-family: 'Corbel', sans-serif;
    font-size: 20px;
    justify-content: space-between;
    /* padding: 1rem; */
    width: 80%;
    animation: 1s ease-out 0s 1 slideFromTop;
    z-index: 9;
    
}

.name-title {
    text-align: center;
    margin-top: 0;
    text-decoration: underline;
}

.abt-text {
    
    border: solid black 2px;
    /* justify-content: space-between; */
    height: auto;
    padding: 5px;
    width: auto;
    text-align: center;
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}