.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.abtus-title{
    font-size: 60px;
}

.about-container {
    display: flex;
    flex-direction: row;
    position: relative;
    /* left: 10%; */
    width: 650px;
    font-family: 'Corbel', sans-serif;
    font-size: 20px;
    justify-content: space-between;
    /* padding: 1rem; */
    width: 80%;
}

.name-title {
    text-align: center;
    margin-top: 0;
    text-decoration: underline;
}

.abt-text {
    
    border: solid black 2px;
    /* justify-content: space-between; */
    height: auto;
    padding: 5px;
    width: auto;
    text-align: center;
}