.color-switcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    height: 100vh;
    cursor: default;
}

.theme-options {
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
    padding: 20px 0;
    div {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        margin: 2px 10px;
        border: 1px solid #fff;
        display: inline-block;
        opacity: 0.5;

        &.active {
            opacity: 1;
        }
    }
    #default-theme {
        background-color: #4eb5f1;
    }
    #dark-theme {
        background-color: rgb(44, 44, 44);
    }
    #colorful-theme {
        background-color: pink;
    }
    #light-theme {
        background-color: #fff;
        border: 1px solid rgb(0, 0, 0);
    }
}

.color-switcher {
    transition: 0.8s;
}

.theme-text {
    padding: 1rem;
    border-radius: 8px;
    transition: 0.8s;
}

.color-switcher.default-theme {
    background-color: #4eb5f1;
    .content-box {
        color: #000000;
        text-decoration: underline;
    }
    .theme-text {
        background-color: #148bcf;
    }
}

.color-switcher.dark-theme {
    background-color: rgb(75, 75, 75);
    
    .content-box {
        color: white;
        text-decoration: underline;
    }
    .theme-text {
        background-color: #444444;
        color: white;
    }
}

.color-switcher.colorful-theme {
    background-color: pink;
    .content-box {
        color: rgb(148, 5, 148);
        text-decoration: underline;
    }
    .theme-text {
        background-color: rgb(247, 156, 171);
        color: rgb(148, 5, 148);
    }
}

.color-switcher.light-theme {
    background-color: white;
    .content-box {
        color: rgb(0, 0, 0);
        text-decoration: underline;
    }
    .theme-text {
        background-color: rgb(190, 190, 190);
        color: rgb(0, 0, 0);
    }
}


//******** THEMES *********//
.App.default-theme {
    transition: 0.8s;
}

//===== DARK THEME =====//
.App.dark-theme{
    transition: 0.8s;
    //Header
    .header {
        background-color: #000000;
        .signinbtn {
            background-color: #444444;
            border: 1px solid #000000;
            
        }
        .signinbtn:hover {
            background-color: rgb(255, 255, 255);
            color:#000000;
        }
        .signupbtn {
            background-color: #444444;
            border: 1px solid #000000;
        }
        .signupbtn:hover {
            background-color: rgb(255, 255, 255);
            color:#000000;
        }
    }
    //Intro
    .howitworks {
        background: linear-gradient(135deg, #818181, #131414);
    }
    //Sign-in/up Forms
    .formcontainer {
        background: linear-gradient(135deg, #818181, #131414);
        h2 {
            color: white;
        }
        .app-wrapper {
            background-color: rgba(0, 0, 0, 0.411);
        }
        .submit {
            background-color: #444444;
            color: rgb(255, 255, 255);
            border: none;
        }
        .submit:hover {
            background-color: white;
            color: black;
        }
        .bottom-text {
            color: white;
        }
    }

}

.Footer.dark-theme {
    .footer {
        background-color: rgb(59, 59, 59);
        .footer-container {
            color: rgb(196, 196, 196);
        }
    }
}