.color-switcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    height: 100vh;
    cursor: default;
}

.theme-options {
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
    padding: 20px 0;
    div {
        cursor: pointer;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        margin: 2px 10px;
        border: 1px solid #fff;
        display: inline-block;
        opacity: 0.5;

        &.active {
            opacity: 1;
        }
    }
    #default-theme {
        background-color: #4eb5f1;
    }
    #dark-theme {
        background-color: rgb(44, 44, 44);
    }
    #colorful-theme {
        background-color: pink;
    }
    #light-theme {
        background-color: #fff;
        border: 1px solid rgb(0, 0, 0);
    }
}

.color-switcher {
    transition: 0.8s;
}

.theme-text {
    padding: 1rem;
    border-radius: 8px;
    transition: 0.8s;
}

.color-switcher.default-theme {
    background-color: #4eb5f1;
    .content-box {
        color: #000000;
        text-decoration: underline;
    }
    .theme-text {
        background-color: #148bcf;
    }
}

.color-switcher.dark-theme {
    background-color: rgb(44, 44, 44);
    
    .content-box {
        color: white;
        text-decoration: underline;
    }
    .theme-text {
        background-color: #444444;
        color: white;
    }
}

.color-switcher.colorful-theme {
    background-color: pink;
    .content-box {
        color: rgb(148, 5, 148);
        text-decoration: underline;
    }
    .theme-text {
        background-color: rgb(247, 156, 171);
        color: rgb(148, 5, 148);
    }
}

.color-switcher.light-theme {
    background-color: white;
    .content-box {
        color: rgb(0, 0, 0);
        text-decoration: underline;
    }
    .theme-text {
        background-color: rgb(190, 190, 190);
        color: rgb(0, 0, 0);
    }
}

.header.default-theme {
    background-color: white;
}

.header.light-theme {
    background-color: rgb(160, 160, 160);
}

.header.dark-theme {
    transition: 0.8s;
    background-color: rgb(0, 0, 0);
    .signinbtn {
        background-color: #868686;
        border: 1px solid #ffffff;
    }
    .signupbtn {
        background-color: #868686;
        border: 1px solid #ffffff;
    }
}