.user-page-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100vh;

}

/***** SIDE BAR NAV *****/
.side-bar-nav{
    height: 250px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    height: 100vh;
}

.user-icon {
    border-bottom: solid;
    border-top: solid;
}

.user-default {
    max-width: 100%;
    max-height: 100%;
}

.side-bar-nav-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    max-width: 100%;

}

.settings-text {
    /* border-bottom: solid; */
    text-decoration: underline 0.15em rgba(0,0,0,0);
    transition: text-decoration-color 300ms;
    padding: 1rem;
}

.settings-text:hover {
    text-decoration-color: rgba(0,0,0,1);
    cursor: pointer;
}

/***** MAIN PAGE *****/
.main-user-page {
    width: 100vw;
}